.play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    background-color: green;
    color:  white;
}

.play-button:hover {
    opacity: 0.5;
}

.card {
    position: relative;
    width: 24rem;
    height: 5rem;
    left: 40%;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#back {
    position: relative;
    width: 3rem;
    height: 5%;
    border-radius: 30%;
    bottom: 10%;
    left: 40%;
    font-size: 28px;
    transform: rotateY(180deg);
    user-select: none;
}


#start-stop {
    position: relative;
    width: 3rem;
    height: 5%;
    border-radius: 50%;
    bottom: 10%;
    left: 46%;
    font-size: 28px;
    user-select: none;
}

#next {
    position: relative;
    width: 3rem;
    height: 5%;
    border-radius: 30%;
    bottom: 10%;
    left: 52%;
    font-size: 28px;
    user-select: none;
}

.Volumerange {
    position: relative;
    width: 8rem;
    left: 60rem;
    top: -4rem;
    transform: rotate(-90deg);
}

.Seekrange {
    position: relative;
    width: 24rem;
    left: 30rem;
    top: 3rem;
}

#seekvalue {
    position: relative;
    font-size: 18px;
    left: 32rem;
    top: 3rem;
}

.list-container {
    position: relative;
    height: 500px;
    width: 800px;
    overflow-y: auto;
    left: 36rem;
    top: 5rem;
}

.list-container::-webkit-scrollbar {
    width: 0;
}

#list-search-input {
    position: relative;
    left: 36rem;
    top: 6rem;
    width: 650px;
    border-radius: 10px;
    user-select: none;
}

#list-search-input:focus {
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

#list-search-button {
    position: relative;
    left: 38rem;
    top: 6rem;
    border-radius: 8px;
    font-size: 22px;
    background-color: #91f062;
    user-select: none;
}

#list-search-button:hover {
    opacity: 0.8;
}

.active-music {
    color: green;
}


.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 500px;
    left: 42rem;
    top: 8rem;
    border-radius: 35%;
}

#form_title {
    text-align: center;
    font-size: 26px;
    color: black;
}

#form_username, #form_email, #form_password, #form_confirm_password, #form_submit {
    position: relative;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    border-radius: 10%;
}

#form_submit {
    font-size: 24px;
}

#form_show_password {
    position: absolute;
    top: 16rem;
    left: calc(26rem + 5px);
    width: 18px;
    height: 18px;
}

#form_show_password_label {
    position: absolute;
    left: 28rem;
    top: 16rem;
    font-size: 16px;
    user-select: none;
}


.playlist-container {
    display: block;
    position: absolute;
    width: 300px;
    height: 600px;
    background-color: black;
    text-align: center;
}

.playlist-button {
    color: white;
}

.playlist-button-active {
    color: #91f062;
}

@media screen and (max-width: 600px) {
    .card {
        width: 12rem;
        left: 25%;
    }

    .card-title {
        font-size: 12px; /* Csökkentett betűméret kisebb kijelzőknél */
    }

    #back, #start-stop, #next {
        width: 2rem; /* Csökkentett gombok mérete kisebb kijelzőknél */
        font-size: 20px;
    }

    #back {
        left: 25%;
    }

    #start-stop {
        left: 35%;
    }

    #next {
        left: 48%;
    }

    .Volumerange {
        width: 6rem;
        left: 10rem;
        top: -4rem;
    }

    .Seekrange {
        width: 12rem;
        left: 25%;
        top: 1rem;
    }

    #seekvalue {
        font-size: 12px;
        left: 25%;
        top: 1rem;
    }

    .list-container {
        left: 0rem;
        top: 2rem;
        height: 24rem;
        width: auto;
        overflow-x: hidden;
    }

    #list-search-input {
        left: 0rem;
        top: 3rem;
        width: 75%;
    }

    #list-search-button {
        left: 0rem;
        top: 3rem;
        font-size: 20px;
    }

    .form-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 350px;
        height: 300px;
        background-color: gray;
        left: 1rem;
        top: 8rem;
        border-radius: 35%;
    }
    
    #form_title {
        text-align: center;
        font-size: 20px;
        color: black;
    }
    
    #form_username, #form_email, #form_password, #form_confirm_password, #form_submit {
        position: relative;
        margin: 5px 0px 5px 0px;
        font-size: 12px;
        border-radius: 10%;
    }
    
    #form_submit {
        font-size: 16px;
    }
    
    #form_show_password {
        position: absolute;
        top: calc(9rem + 10px);
        left: calc(17rem - 10px);
        width: 14px;
        height: 14px;
    }

    #form_show_password_label {
        position: absolute;
        left: 18rem;
        top: calc(9rem + 5px);
        font-size: 10px;
        user-select: none;
    }

    .playlist-container {
        display: none;
    }
}