{% extends "index.html" %}



{% block content %}
    <section>
        <div class="card mt-2 mb-3">
                <div class="card-body">
                  <h5 class="card-title" id="musicTitle"></h5>
                  <audio style="width:100%;" id="audio">
                    <source src="" type="audio/mpeg">
                    Your webbrowser don't play this music!
                </audio>
                </div>
            </div>
        <button type="button" id="back">►|</button>
        <button type="button" id="start-stop">►</button>
        <button type="button" id="next">►|</button>
        <input type="range" class="Volumerange" min="0" max="1" step="0.01" id="range">
        <input type="range" class="Seekrange" min="0" max="100" value="0" id="seekbar">
        <span id="seekvalue">00:00</span>
    </section>


    <section>
        <div class="list-container">
            {% if musics != [] %}
                {% for music in musics %}
                <div class="list-content">
                    <p class="list-music-title" id="list-music-{{ loop.index }}">{{ music.title }}</p>
                    <button type="button" id="list-play-button-{{ loop.index }}" onclick="play_manual_music('{{ loop.index }}')">►</button>
                </div>
                {% endfor %}
            {% else %}
                <p style="font-size: 16px;">Nem találtunk megfelelő zenét!</p>
            {% endif %}
        </div>
        <form action="{{ url_for('media_player') }}" method="get">
            <input type="text" id="list-search-input" placeholder="Keresés" name="search-music">
            <button type="submit" id="list-search-button">Keresés</button>
        </form>
    </section>

    <script src="{{ url_for('static', filename='music.js') }}"></script>

{% endblock content %}